# Required for bazel 3.4+
# See https://github.com/bazelbuild/bazel/issues/10674#issuecomment-658270895
build --incompatible_objc_compile_info_migration

# We can't create a bzl_library for rules-swift because of its visibility,
# so circumvent by not using the sandbox
build --strategy=Stardoc=standalone

# Debugging does not work in sandbox mode. Uncomment these lines to turn off sandboxing.
# build --genrule_strategy=standalone
# build --spawn_strategy=standalone

build --verbose_failures # Print the full command line for commands that failed
build --test_output=errors # Prints log file output to the console on failure

# By default do not build the tests for sources-with-prebuilt-binaries,
# because it takes quite some time. They will only run on CI
#
# By default do not run the tests under the static_framework_generator package, 
# as it requires that tools/static_framework_generator:TargetXIBStaticFrameworkGenerator
# is run first in order to generate the TargetXIB.framework to be consummed.
# It will run only on CI
build --deleted_packages \
tests/ios/frameworks/sources-with-prebuilt-binaries,\
tests/ios/static_framework_generator,\
tools/static_framework_generator

# Enable dbg compilation mode in this repo, so we can test xcodeproj-built
# binaries contain debug symbol tables.
build --compilation_mode=dbg
