bazel-*
.idea
tests/macos/xcodeproj/**/xcuserdata
tests/ios/xcodeproj/**/xcuserdata
**/*.xcodeproj/bazelinstallers/index-import
/tests/ios/Index/
/tests/macos/Index/
/tests/index-import.pid
user.bazelrc
# XCHammer specific things to ignore for now
external
*-XCHammer*.xcodeproj
xchammer-includes
index-import.runfiles