bazel-*
.idea
tests/macos/xcodeproj/**/xcuserdata
tests/ios/xcodeproj/**/xcuserdata
**/*.xcodeproj/bazelinstallers/index-import
/tests/ios/Index/
/tests/macos/Index/
/tests/index-import.pid
user.bazelrc
external
index-import.runfiles
