<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ARS</key>
	<dict>
		<key>decimal_places</key>
		<integer>2</integer>
		<key>symbol</key>
		<string>$</string>
	</dict>
	<key>BRL</key>
	<dict>
		<key>decimal_places</key>
		<integer>2</integer>
		<key>symbol</key>
		<string>R$</string>
	</dict>
	<key>CLP</key>
	<dict>
		<key>decimal_places</key>
		<integer>0</integer>
		<key>symbol</key>
		<string>$</string>
	</dict>
	<key>COP</key>
	<dict>
		<key>decimal_places</key>
		<integer>0</integer>
		<key>symbol</key>
		<string>$</string>
	</dict>
	<key>CRC</key>
	<dict>
		<key>decimal_places</key>
		<integer>2</integer>
		<key>symbol</key>
		<string>¢</string>
	</dict>
	<key>DOP</key>
	<dict>
		<key>decimal_places</key>
		<integer>2</integer>
		<key>symbol</key>
		<string>$</string>
	</dict>
	<key>EUR</key>
	<dict>
		<key>decimal_places</key>
		<integer>2</integer>
		<key>symbol</key>
		<string>€</string>
	</dict>
	<key>MXN</key>
	<dict>
		<key>decimal_places</key>
		<integer>2</integer>
		<key>symbol</key>
		<string>$</string>
	</dict>
	<key>PAB</key>
	<dict>
		<key>decimal_places</key>
		<integer>2</integer>
		<key>symbol</key>
		<string>B/.</string>
	</dict>
	<key>PEN</key>
	<dict>
		<key>decimal_places</key>
		<integer>2</integer>
		<key>symbol</key>
		<string>S/</string>
	</dict>
	<key>USD</key>
	<dict>
		<key>decimal_places</key>
		<integer>2</integer>
		<key>symbol</key>
		<string>U$S</string>
	</dict>
	<key>UYU</key>
	<dict>
		<key>decimal_places</key>
		<integer>2</integer>
		<key>symbol</key>
		<string>$</string>
	</dict>
	<key>VEF</key>
	<dict>
		<key>decimal_places</key>
		<integer>2</integer>
		<key>symbol</key>
		<string>Bs.</string>
	</dict>
	<key>VES</key>
	<dict>
		<key>decimal_places</key>
		<integer>2</integer>
		<key>symbol</key>
		<string>Bs.</string>
	</dict>
	<key>CLF</key>
	<dict>
		<key>decimal_places</key>
		<integer>2</integer>
		<key>symbol</key>
		<string>UF</string>
	</dict>
	<key>BOB</key>
	<dict>
		<key>decimal_places</key>
		<integer>2</integer>
		<key>symbol</key>
		<string>Bs</string>
	</dict>
	<key>PYG</key>
	<dict>
		<key>decimal_places</key>
		<integer>0</integer>
		<key>symbol</key>
		<string>₲</string>
	</dict>
	<key>GTQ</key>
	<dict>
		<key>decimal_places</key>
		<integer>2</integer>
		<key>symbol</key>
		<string>Q</string>
	</dict>
	<key>HNL</key>
	<dict>
		<key>decimal_places</key>
		<integer>0</integer>
		<key>symbol</key>
		<string>L</string>
	</dict>
	<key>NIO</key>
	<dict>
		<key>decimal_places</key>
		<integer>0</integer>
		<key>symbol</key>
		<string>C$</string>
	</dict>
	<key>CUC</key>
	<dict>
		<key>decimal_places</key>
		<integer>2</integer>
		<key>symbol</key>
		<string>$</string>
	</dict>
</dict>
</plist>
