<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MCO</key>
	<dict>
		<key>locale</key>
		<string>es-CO</string>
		<key>geo_information</key>
		<dict>
			<key>latitude</key>
			<real>4.1156735</real>
			<key>longitude</key>
			<real>-72.93013670000001</real>
			<key>zoom</key>
			<integer>5</integer>
		</dict>
		<key>decimal_separator</key>
		<string>,</string>
		<key>thousands_separator</key>
		<string>.</string>
		<key>defaultCurrencyId</key>
		<string>COP</string>
		<key>countryId</key>
		<string>CO</string>
		<key>mp_enabled</key>
		<true/>
		<key>site_domain_suffix</key>
		<string>.mercadolibre.com.co</string>
	</dict>
	<key>MLA</key>
	<dict>
		<key>locale</key>
		<string>es-AR</string>
		<key>geo_information</key>
		<dict>
			<key>latitude</key>
			<real>-38.416097</real>
			<key>longitude</key>
			<real>-63.616672</real>
			<key>zoom</key>
			<integer>4</integer>
		</dict>
		<key>decimal_separator</key>
		<string>,</string>
		<key>thousands_separator</key>
		<string>.</string>
		<key>defaultCurrencyId</key>
		<string>ARS</string>
		<key>countryId</key>
		<string>AR</string>
		<key>mp_enabled</key>
		<true/>
		<key>site_domain_suffix</key>
		<string>.mercadolibre.com.ar</string>
	</dict>
	<key>MLB</key>
	<dict>
		<key>locale</key>
		<string>pt-BR</string>
		<key>geo_information</key>
		<dict>
			<key>latitude</key>
			<real>-14.235004</real>
			<key>longitude</key>
			<real>-51.92528</real>
			<key>zoom</key>
			<integer>4</integer>
		</dict>
		<key>decimal_separator</key>
		<string>,</string>
		<key>thousands_separator</key>
		<string>.</string>
		<key>defaultCurrencyId</key>
		<string>BRL</string>
		<key>countryId</key>
		<string>BR</string>
		<key>mp_enabled</key>
		<true/>
		<key>site_domain_suffix</key>
		<string>.mercadolivre.com.br</string>
	</dict>
	<key>MLC</key>
	<dict>
		<key>locale</key>
		<string>es-CL</string>
		<key>geo_information</key>
		<dict>
			<key>latitude</key>
			<real>-36.739055</real>
			<key>longitude</key>
			<real>-71.05749419999999</real>
			<key>zoom</key>
			<integer>4</integer>
		</dict>
		<key>decimal_separator</key>
		<string>,</string>
		<key>thousands_separator</key>
		<string>.</string>
		<key>defaultCurrencyId</key>
		<string>CLP</string>
		<key>countryId</key>
		<string>CL</string>
		<key>mp_enabled</key>
		<false/>
		<key>site_domain_suffix</key>
		<string>.mercadolibre.cl</string>
	</dict>
	<key>MLM</key>
	<dict>
		<key>locale</key>
		<string>es-MX</string>
		<key>geo_information</key>
		<dict>
			<key>latitude</key>
			<real>23.6345</real>
			<key>longitude</key>
			<real>-102.55279</real>
			<key>zoom</key>
			<integer>5</integer>
		</dict>
		<key>decimal_separator</key>
		<string>.</string>
		<key>thousands_separator</key>
		<string>,</string>
		<key>defaultCurrencyId</key>
		<string>MXN</string>
		<key>countryId</key>
		<string>MX</string>
		<key>mp_enabled</key>
		<true/>
		<key>site_domain_suffix</key>
		<string>.mercadolibre.com.mx</string>
	</dict>
	<key>MCR</key>
	<dict>
		<key>locale</key>
		<string>es-CR</string>
		<key>geo_information</key>
		<dict>
			<key>latitude</key>
			<real>9.6301892</real>
			<key>longitude</key>
			<real>-84.25418430000001</real>
			<key>zoom</key>
			<integer>8</integer>
		</dict>
		<key>decimal_separator</key>
		<string>.</string>
		<key>thousands_separator</key>
		<string>,</string>
		<key>defaultCurrencyId</key>
		<string>CRC</string>
		<key>countryId</key>
		<string>CR</string>
		<key>mp_enabled</key>
		<false/>
		<key>site_domain_suffix</key>
		<string>.mercadolibre.co.cr</string>
	</dict>
	<key>MPE</key>
	<dict>
		<key>locale</key>
		<string>es-PE</string>
		<key>geo_information</key>
		<dict>
			<key>latitude</key>
			<real>-9.1951786</real>
			<key>longitude</key>
			<real>-74.99041649999999</real>
			<key>zoom</key>
			<integer>5</integer>
		</dict>
		<key>decimal_separator</key>
		<string>,</string>
		<key>thousands_separator</key>
		<string>.</string>
		<key>defaultCurrencyId</key>
		<string>PEN</string>
		<key>countryId</key>
		<string>PE</string>
		<key>mp_enabled</key>
		<false/>
		<key>site_domain_suffix</key>
		<string>.mercadolibre.com.pe</string>
	</dict>
	<key>MEC</key>
	<dict>
		<key>locale</key>
		<string>es-EC</string>
		<key>geo_information</key>
		<dict>
			<key>latitude</key>
			<real>-1.7929665</real>
			<key>longitude</key>
			<real>-78.1368875</real>
			<key>zoom</key>
			<integer>7</integer>
		</dict>
		<key>decimal_separator</key>
		<string>,</string>
		<key>thousands_separator</key>
		<string>.</string>
		<key>defaultCurrencyId</key>
		<string>USD</string>
		<key>countryId</key>
		<string>EC</string>
		<key>mp_enabled</key>
		<false/>
		<key>site_domain_suffix</key>
		<string>.mercadolibre.com.ec</string>
	</dict>
	<key>MPA</key>
	<dict>
		<key>locale</key>
		<string>es-PA</string>
		<key>geo_information</key>
		<dict>
			<key>latitude</key>
			<real>8.4255093</real>
			<key>longitude</key>
			<real>-80.1053646</real>
			<key>zoom</key>
			<integer>8</integer>
		</dict>
		<key>decimal_separator</key>
		<string>,</string>
		<key>thousands_separator</key>
		<string>.</string>
		<key>defaultCurrencyId</key>
		<string>PAB</string>
		<key>countryId</key>
		<string>PA</string>
		<key>mp_enabled</key>
		<false/>
		<key>site_domain_suffix</key>
		<string>.mercadolibre.com.pa</string>
	</dict>
	<key>MRD</key>
	<dict>
		<key>locale</key>
		<string>es-DO</string>
		<key>geo_information</key>
		<dict>
			<key>latitude</key>
			<real>18.7009047</real>
			<key>longitude</key>
			<real>-70.16545840000001</real>
			<key>zoom</key>
			<integer>8</integer>
		</dict>
		<key>decimal_separator</key>
		<string>.</string>
		<key>thousands_separator</key>
		<string>,</string>
		<key>defaultCurrencyId</key>
		<string>DOP</string>
		<key>countryId</key>
		<string>DO</string>
		<key>mp_enabled</key>
		<false/>
		<key>site_domain_suffix</key>
		<string>.mercadolibre.com.do</string>
	</dict>
	<key>MLU</key>
	<dict>
		<key>locale</key>
		<string>es-UY</string>
		<key>geo_information</key>
		<dict>
			<key>latitude</key>
			<real>-32.5583168</real>
			<key>longitude</key>
			<real>-55.8117212</real>
			<key>zoom</key>
			<integer>7</integer>
		</dict>
		<key>decimal_separator</key>
		<string>,</string>
		<key>thousands_separator</key>
		<string>.</string>
		<key>defaultCurrencyId</key>
		<string>UYU</string>
		<key>countryId</key>
		<string>UY</string>
		<key>mp_enabled</key>
		<true/>
		<key>site_domain_suffix</key>
		<string>.mercadolibre.com.uy</string>
	</dict>
	<key>MLV</key>
	<dict>
		<key>locale</key>
		<string>es-VE</string>
		<key>geo_information</key>
		<dict>
			<key>latitude</key>
			<real>5.1632955</real>
			<key>longitude</key>
			<real>-69.4146705</real>
			<key>zoom</key>
			<integer>5</integer>
		</dict>
		<key>decimal_separator</key>
		<string>,</string>
		<key>thousands_separator</key>
		<string>.</string>
		<key>defaultCurrencyId</key>
		<string>VES</string>
		<key>countryId</key>
		<string>VE</string>
		<key>mp_enabled</key>
		<false/>
		<key>site_domain_suffix</key>
		<string>.mercadolibre.com.ve</string>
	</dict>
	<key>MBO</key>
	<dict>
		<key>locale</key>
		<string>es-BO</string>
		<key>geo_information</key>
		<dict>
			<key>latitude</key>
			<real>-32.5583168</real>
			<key>longitude</key>
			<real>-55.8117212</real>
			<key>zoom</key>
			<integer>7</integer>
		</dict>
		<key>decimal_separator</key>
		<string>,</string>
		<key>thousands_separator</key>
		<string>.</string>
		<key>defaultCurrencyId</key>
		<string>BOB</string>
		<key>countryId</key>
		<string>BO</string>
		<key>mp_enabled</key>
		<false/>
		<key>site_domain_suffix</key>
		<string>.mercadolibre.com.bo</string>
	</dict>
	<key>MGT</key>
	<dict>
		<key>locale</key>
		<string>es-GT</string>
		<key>geo_information</key>
		<dict>
			<key>latitude</key>
			<real>-32.5583168</real>
			<key>longitude</key>
			<real>-55.8117212</real>
			<key>zoom</key>
			<integer>7</integer>
		</dict>
		<key>decimal_separator</key>
		<string>,</string>
		<key>thousands_separator</key>
		<string>.</string>
		<key>defaultCurrencyId</key>
		<string>GTQ</string>
		<key>countryId</key>
		<string>GT</string>
		<key>mp_enabled</key>
		<false/>
		<key>site_domain_suffix</key>
		<string>.mercadolibre.com.gt</string>
	</dict>
	<key>MPY</key>
	<dict>
		<key>locale</key>
		<string>es-PY</string>
		<key>geo_information</key>
		<dict>
			<key>latitude</key>
			<real>-32.5583168</real>
			<key>longitude</key>
			<real>-55.8117212</real>
			<key>zoom</key>
			<integer>7</integer>
		</dict>
		<key>decimal_separator</key>
		<string>,</string>
		<key>thousands_separator</key>
		<string>.</string>
		<key>defaultCurrencyId</key>
		<string>PYG</string>
		<key>countryId</key>
		<string>PY</string>
		<key>mp_enabled</key>
		<false/>
		<key>site_domain_suffix</key>
		<string>.mercadolibre.com.py</string>
	</dict>
	<key>MHN</key>
	<dict>
		<key>locale</key>
		<string>es-HN</string>
		<key>geo_information</key>
		<dict>
			<key>latitude</key>
			<real>-32.5583168</real>
			<key>longitude</key>
			<real>-55.8117212</real>
			<key>zoom</key>
			<integer>7</integer>
		</dict>
		<key>decimal_separator</key>
		<string>,</string>
		<key>thousands_separator</key>
		<string>.</string>
		<key>defaultCurrencyId</key>
		<string>HNL</string>
		<key>countryId</key>
		<string>HN</string>
		<key>mp_enabled</key>
		<false/>
		<key>site_domain_suffix</key>
		<string>.mercadolibre.com.hn</string>
	</dict>
	<key>MNI</key>
	<dict>
		<key>locale</key>
		<string>es-NI</string>
		<key>geo_information</key>
		<dict>
			<key>latitude</key>
			<real>-32.5583168</real>
			<key>longitude</key>
			<real>-55.8117212</real>
			<key>zoom</key>
			<integer>7</integer>
		</dict>
		<key>decimal_separator</key>
		<string>,</string>
		<key>thousands_separator</key>
		<string>.</string>
		<key>defaultCurrencyId</key>
		<string>NIO</string>
		<key>countryId</key>
		<string>NI</string>
		<key>mp_enabled</key>
		<false/>
		<key>site_domain_suffix</key>
		<string>.mercadolibre.com.ni</string>
	</dict>
	<key>MSV</key>
	<dict>
		<key>locale</key>
		<string>es-SV</string>
		<key>geo_information</key>
		<dict>
			<key>latitude</key>
			<real>-32.5583168</real>
			<key>longitude</key>
			<real>-55.8117212</real>
			<key>zoom</key>
			<integer>7</integer>
		</dict>
		<key>decimal_separator</key>
		<string>,</string>
		<key>thousands_separator</key>
		<string>.</string>
		<key>defaultCurrencyId</key>
		<string>USD</string>
		<key>countryId</key>
		<string>SV</string>
		<key>mp_enabled</key>
		<false/>
		<key>site_domain_suffix</key>
		<string>.mercadolibre.com.sv</string>
	</dict>
	<key>MPR</key>
	<dict>
		<key>locale</key>
		<string>es-PR</string>
		<key>geo_information</key>
		<dict>
			<key>latitude</key>
			<real>-32.5583168</real>
			<key>longitude</key>
			<real>-55.8117212</real>
			<key>zoom</key>
			<integer>7</integer>
		</dict>
		<key>decimal_separator</key>
		<string>,</string>
		<key>thousands_separator</key>
		<string>.</string>
		<key>defaultCurrencyId</key>
		<string>USD</string>
		<key>countryId</key>
		<string>PR</string>
		<key>mp_enabled</key>
		<false/>
		<key>site_domain_suffix</key>
		<string>.mercadolibre.com.pr</string>
	</dict>
	<key>MCU</key>
	<dict>
		<key>locale</key>
		<string>es-CU</string>
		<key>geo_information</key>
		<dict>
			<key>latitude</key>
			<real>-32.5583168</real>
			<key>longitude</key>
			<real>-55.8117212</real>
			<key>zoom</key>
			<integer>7</integer>
		</dict>
		<key>decimal_separator</key>
		<string>,</string>
		<key>thousands_separator</key>
		<string>.</string>
		<key>defaultCurrencyId</key>
		<string>CUC</string>
		<key>countryId</key>
		<string>CU</string>
		<key>mp_enabled</key>
		<false/>
		<key>site_domain_suffix</key>
		<string>.mercadolibre.com.cu</string>
	</dict>
</dict>
</plist>
