name: Tests

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  integration_tests:
    name: Build and Test
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v1
      - name: Select Xcode 11.6
        run: sudo xcode-select -s /Applications/Xcode_11.6.app
      - name: Build and Test
        run: |
          bazelisk test --local_test_jobs=1 -- //... -//tests/ios/...
          # `deleted_packages` is needed below in order to override the value of the .bazelrc file
          bazelisk test --local_test_jobs=1 --apple_platform_type=ios --deleted_packages='' -- //tests/ios/...
      - uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: bazel-testlogs
          path: bazel-testlogs
  buildifier:
    name: Check Starlark and Docs
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v1
      - name: Select Xcode 11.6
        run: sudo xcode-select -s /Applications/Xcode_11.6.app
      - name: Install buildifier
        run: brew install buildifier
      - name: buildifier
        run: find . -type f \( -name 'WORKSPACE' -o -name '*.bzl' -o -name '*.bazel' \) | xargs buildifier -lint=fix && git diff --exit-code
      - name: Check docs
        run: bazelisk run docs && git diff --exit-code docs
  xcodeproj_tests_macos:
    name: .xcodeproj Tests for Mac OS platform
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v1
      - name: Select Xcode 11.6
        run: sudo xcode-select -s /Applications/Xcode_11.6.app
      - name: Generate Xcode projects and compare against existing record
        run: |
          rm -rf tests/macos/xcodeproj/*.xcodeproj
          set -euo pipefail
          bazelisk clean
          bazelisk query 'kind(xcodeproj, tests/macos/xcodeproj/...)' | xargs -n 1 bazelisk run
          bazelisk query 'attr(executable, 1, kind(genrule, tests/macos/xcodeproj/...))' | xargs -n 1 bazelisk run
          git diff --exit-code tests/macos/xcodeproj
      - name: Run Xcode builds
        run: ./tests/macos/xcodeproj/build.sh
      - name: Run Unit tests
        run: ./tests/macos/xcodeproj/tests.sh
  xcodeproj_tests_ios:
    name: .xcodeproj Tests for iOS platform
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v1
      - name: Select Xcode 11.6
        run: sudo xcode-select -s /Applications/Xcode_11.6.app
      - name: Generate Xcode projects and compare against existing record
        run: |
          rm -rf tests/ios/xcodeproj/*.xcodeproj
          set -euo pipefail
          bazelisk clean
          bazelisk query 'kind(xcodeproj, tests/ios/xcodeproj/...)' | xargs -n 1 bazelisk run
          bazelisk query 'attr(executable, 1, kind(genrule, tests/ios/xcodeproj/...))' | xargs -n 1 bazelisk run
          git diff --exit-code tests/ios/xcodeproj
      - name: Run pre build checks
        run: ./tests/ios/xcodeproj/pre_build_check.sh
      - name: Run Xcode builds
        run: ./tests/ios/xcodeproj/build.sh
      - name: Run post build checks
        run: ./tests/ios/xcodeproj/post_build_check.sh
      - name: Run Unit tests
        run: ./tests/ios/xcodeproj/tests.sh
