name: Tests

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  integration_tests:
    name: Build and Test
    runs-on: macos-latest
    steps:
      - name: Build and Test
        run: |
          # Testing bundler, remove
          which bundle
          bundle --version
          printenv
          exit 1
          bazelisk test --local_test_jobs=1 -- //... -//tests/ios/...
          # `deleted_packages` is needed below in order to override the value of the .bazelrc file
          bazelisk test --local_test_jobs=1 --apple_platform_type=ios --deleted_packages='' -- //tests/ios/...
      - uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: bazel-testlogs
          path: bazel-testlogs
  buildifier:
    name: Check Starlark and Docs
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Select Xcode 12.2
        run: sudo xcode-select -s /Applications/Xcode_12.2.app
        # Note: we need to pass the absolute to the Bazel run
      - name: buildifier
        run: find $PWD -type f \( -name 'WORKSPACE' -o -name '*.bzl' -o -name '*.bazel' \) | xargs bazel run buildifier -- -lint=fix && git diff --exit-code
      - name: Check docs
        run: bazelisk run docs && git diff --exit-code docs
  xcodeproj_tests_xcode_12_2:
    name: .xcodeproj Tests on Xcode 12.2
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Select Xcode 12.2
        run: sudo xcode-select -s /Applications/Xcode_12.2.app
      - name: Run tests
        run: ./tests/xcodeproj-tests.sh --clean
