name: Tests

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  integration_tests:
    name: Build and Test
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v2
      - name: Select Xcode
        run: .github/workflows/xcode_select.sh
      - name: Build and Test
        run: |
          # Host config
          bazelisk test --local_test_jobs=1 -- //... -//tests/ios/...

          # `deleted_packages` is needed below in order to override the value of the .bazelrc file
          bazelisk test --local_test_jobs=1 --apple_platform_type=ios --deleted_packages='' -- //tests/ios/...
      - uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: bazel-testlogs
          path: bazel-testlogs
  build_virtual_frameworks:
    # Build the entire tree with this feature enabled. Longer term, we'll likely
    # consider merging this feature into the default behavior and can re-align
    # the CI job
    name: Build and Test ( Virtual Frameworks )
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v2
      - name: Select Xcode
        run: .github/workflows/xcode_select.sh
      - name: Build and Test
        run: |
          # Host config
          bazelisk build --features apple.virtualize_frameworks --local_test_jobs=1 -- //... -//tests/ios/...

          # `deleted_packages` is needed below in order to override the value of the .bazelrc file
          bazelisk build --features apple.virtualize_frameworks \
              --local_test_jobs=1 \
              --apple_platform_type=ios \
              --deleted_packages='' \
              -- //tests/ios/... \
              -//tests/ios/frameworks/sources-with-prebuilt-binaries/... # Needs more work for pre-built binaries
      - uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: bazel-testlogs
          path: bazel-testlogs

  build_arm64_simulator:
    name: Build arm64 Simulator
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v2
      - name: Select Xcode
        run: .github/workflows/xcode_select.sh
      - name: Build and Test
        run: |
          bazelisk build --ios_multi_cpus=sim_arm64  --features apple.virtualize_frameworks -- //... -//tests/ios/...

          # Misc issues:
          # Carthage is busted for -//tests/ios/frameworks/sources-with-prebuilt-binaries/...
          # Fails on a non fat framework for //tests/ios/unit-test/test-imports-app/
          bazelisk build --ios_multi_cpus=sim_arm64 --features apple.virtualize_frameworks \
              --apple_platform_type=ios \
              --deleted_packages='' \
              -- //tests/ios/... \
              -//tests/ios/frameworks/sources-with-prebuilt-binaries/... \
              -//tests/ios/unit-test/test-imports-app/...

      - uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: bazel-testlogs
          path: bazel-testlogs

  buildifier:
    name: Check Starlark and Docs
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v2
      - name: Select Xcode
        run: .github/workflows/xcode_select.sh
        # Note: we need to pass the absolute to the Bazel run
      - name: buildifier
        run: find $PWD -type f \( -name 'WORKSPACE' -o -name '*.bzl' -o -name '*.bazel' \) | xargs bazel run buildifier -- -lint=fix && git diff --exit-code
      - name: Check docs
        run: bazelisk run docs && git diff --exit-code docs
  xcodeproj_tests_xcode_13_4_1:
    name: .xcodeproj Tests on Xcode 13.4.1
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v2
      - name: Select Xcode 13.4.1
        run: .github/workflows/xcode_select.sh
      - name: Run tests
        run: ./tests/xcodeproj-tests.sh --clean
      - uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: bazel-testlogs
          path: bazel-testlogs

  lldb_ios_tests_xcode_13_4_1:
    name: LLDB tests on Xcode 13.4.1
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v2
      - name: Select Xcode 13.4.1
        run: .github/workflows/xcode_select.sh
      - name: Run tests
        run: bazelisk test tests/ios/lldb/app:objc_app_po_test  tests/ios/lldb/app:objc_app_variable_test --config lldb_ios_test
      - uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: bazel-testlogs
          path: bazel-testlogs
  multi_arch_support:
    name: Build iOS App for Multiple Architecture
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v2
      - name: Select Xcode
        run: .github/workflows/xcode_select.sh
      - name: Build App
        run: bazelisk build -s tests/ios/app/App --apple_platform_type=ios --ios_minimum_os=10.2  --ios_multi_cpus=i386,x86_64
