name: Tests

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  integration_tests:
    name: Build and Test
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v1
      - name: Select Xcode 11.2
        run: sudo xcode-select -s /Applications/Xcode_11.2.app
      - name: Build and Test
        run: bazelisk test --local_test_jobs=1 //...
      - uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: bazel-testlogs
          path: bazel-testlogs
  buildifier:
    name: Check Starlark and Docs
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v1
      - name: Select Xcode 11.2
        run: sudo xcode-select -s /Applications/Xcode_11.2.app
      - name: Install buildifier
        run: brew install buildifier
      - name: buildifier
        run: find . -type f \( -name 'WORKSPACE' -o -name '*.bzl' -o -name '*.bazel' \) | xargs buildifier -lint=fix && git diff --exit-code
      - name: Check docs
        run: bazelisk run docs --nocheck_visibility && git diff --exit-code docs
  xcodeproj_tests:
    name: .xcodeproj Tests
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v1
      - name: Select Xcode 11.2
        run: sudo xcode-select -s /Applications/Xcode_11.2.app
      - name: Generate Xcode projects that load all transitive targets and compare against existing record
        run: bazelisk run tests/macos/xcodeproj:Single-Application-Project-AllTargets && git diff --exit-code tests/macos/xcodeproj
      - name: Generate Xcode projects that load direct targets only and compare against existing record
        run: bazelisk run tests/macos/xcodeproj:Single-Application-Project-DirectTargetsOnly && git diff --exit-code tests/macos/xcodeproj
      - name: Generate Xcode projects that have a test target with a host app and compare against existing record
        run: bazelisk run tests/macos/xcodeproj:Test-Target-With-Test-Host-Project && git diff --exit-code tests/macos/xcodeproj
      - name: Run Xcode builds
        run: ./tests/macos/xcodeproj/build.sh
      - name: Run Unit tests
        run: ./tests/macos/xcodeproj/tests.sh
